@import "breakpoints";

.form {
  width: 85vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include lg {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .section {
    display: flex;
    flex-direction: column;


    @include lg {
      width: 45%;
      justify-content: space-evenly;
    }
  }

  .sectionCard {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 24px 0 rgba(66, 68, 90, 0.41);
  }

  .firstSection {
    justify-content: space-around;

    @include lg {
      height: 40vh;
    }
  }

  .secondSection {
    justify-content: space-evenly;

    button {
      margin: 10px 0;
    }
  }
}