.form {
  width: 85vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  .section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sectionCard {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 24px 0 rgba(66, 68, 90, 0.41);
  }

  .firstSection {
    height: 40vh;
    justify-content: space-around;
  }

  .secondSection {
    height: 80vh;
    justify-content: space-evenly;
  }
}